*{
	margin: 0;
	padding: 0;
	font-family: Corbel;
	list-style-type: none;
}

body {
	background-color: #031429;
	animation-name: dynamicBg;
	animation-duration: 40s;
	animation-iteration-count: infinite;
}
@keyframes dynamicBg {
	0% {background-color: #162030;}
	40% {background-color: #162030;}
	50% {background-color: #46628f;}
	90% {background-color: #46628f;}
	100% {background-color: #162030;}
}

.wrapper {
	background-color: white;
	
	height:100%;
	
	margin-right: auto;
	margin-left:  auto;

	max-width: 600px;
	
	padding-left: 10px;
	padding-right: 15px;

	text-align: center;
	
	font-size: large;
}

.wrapper img {
	display: block;
	width: 65%;
	position:relative;
	margin: auto;
}

.header {
	padding-top: 20px;
	padding-bottom: 10px;
	
	font-size: 175%;
}

.header p {
	font-size: 65%;
}


.nav {
	padding-top: 30px;
	padding-bottom: 20px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-color: lightgray
}

.nav a {
	color: lightgray;
	text-decoration: none;	
	
	border-top-style: solid;
	border-width: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.nav a:hover {
	color: black;

	border-top-style: solid;
	border-width: 2px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.nav li {
	display: inline;
	
	font-size: 125%;

	padding-left: 20px;
	padding-right: 20px;
	

    margin: 20px;
}



.gallery {
	padding-top: 40px;
	padding-bottom: 20px;
}
.gallery p {
	text-align: left;
	padding-left: 30px;
	padding-left: 30px;
	padding-bottom: 60px;
}
.gallery img {
	width: 100%;
	margin: auto;
}


.navcom {
	padding-top: 60px;
	padding-bottom: 30px;
	
	font-size: 200%;
}

.navcom h2 {
	color: #ff9563;
}

.navcom a {
	color: black;
	text-decoration: none;
}
.navcom a:hover {
	color: #ff9563;
}

.navcom li {
	display: inline;
	padding-top: 40px;
	padding-bottom: 20px;
	
	font-size: 100%;

	padding-left: 40px;
	padding-right: 40px;
}




.comics {
	text-align: center;
}

.comics img {
	display: block;
	width: 100%;
	border-style: solid;
	border-width: 3px;
	border-color: #031429;
	margin-bottom: 15px;
	
	position:relative;
}

.footer {
    position: relative;
    margin-top: 33px; /* negative value of footer height */
    height: 33px;
    line-height: 33px;
    text-align: left;
	font-size: 75%
	
}

.frontpage {
	text-align: left;
}
.frontpage p {
	padding: 5px;
}
.frontpage h2 {
	padding-left: 55px;
	padding-top: 25px;
}
.frontpage ol {
	padding: 15px;
	padding-left: 65px;
}
.frontpage li {
	list-style-type: circle;
}